html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 1000px;
}

img {
    max-width: 100%;
}

/* Homepage */

.intro {
    /* transform: translateY(1vh); */
    margin-bottom: 10vh;
}

.intro > h1 {
    color: #212121;
    font-size: 8vh;
    text-align: center;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

/* Page content */

.content  {
    padding-top: 20px;
    text-align: left;
}

.content figcaption {
    text-align: center;
}

.content > p {
    text-indent: 1.0em;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Tiles */

.tile {
    columns: 3 250px;
    column-gap: 50px;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    width: 250px;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    padding: 40px 0;
    border-bottom: 1px solid #ccc;
    /* box-shadow: 0 0 1px 1px #fafafa; */
    /* padding: 8px; */
}

.item:hover {
    background: #efefef;
}

.item:hover .ap-img img {
    filter: opacity(.8);
}

.item .ap-img {
    width: inherit;
}

.item .ap-img img {
    width: 100%;
    height: auto;
}

.item a {
    color: #000 !important;
    text-decoration: none;
}

.item a:hover {
    color: #000 !important;
    text-decoration: none;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}
