<div class="item">
    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.repo }}
        {{ $repoHost := default "github" $.Params.repoHost }}
        {{ if eq "github" $repoHost }}
            {{ printf "https://github.com/%s/%s/" $.Site.Params.githubUsername . | $.Scratch.Set "link" }}
        {{ else if eq "gitlab" $repoHost }}
            {{ printf "https://gitlab.com/%s/%s/" $.Site.Params.gitlabUsername . | $.Scratch.Set "link" }}
        {{ else if eq "bitbucket" $repoHost }}
            {{ printf "https://bitbucket.org/%s/%s/" $.Site.Params.bitbucketUsername . | $.Scratch.Set "link" }}
        {{ end }}
    {{ end }}
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subheader" }}
    {{ with .Description }} {{ $.Scratch.Set "subheader" . }} {{ end }}


    <a href='{{ .Scratch.Get "link" }}'>
        <div>
            {{ if .Params.Image }}
                <div class="ap-img">
                    <img src="{{ .Params.Image }}" alt="">
                </div>
            {{ end }}

            <h4>{{ .Title }}</h4>
            <h5>{{ .Description }}</h5>
            
            <div class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</div>
        </div>
    </a>
</div>